body {
    background: linear-gradient(green, white);
}

h1 {
    text-align: center;
    color: rgb(210, 255, 214);
}

.button-container {
    text-align: center;
}

button {
    background-color: #333;
    color: rgb(210, 255, 214);
    border: black, solid, 1px;
}

.flexbox-cont {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-item {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: white 3px solid;
    background-color: rgb(210, 255, 214);
}

/* .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 10px;
  } */

.title {
    margin: 20px;
    text-align: center;
}

.desc {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

/* @media only screen and (min-width: 900px) {
    .desc {
        margin-left: 200px;
        margin-right: 200px;
        text-align: center;
    }
}  */

img {
    width: 100%;
}

