body {
    background: linear-gradient(green, white);
}

h1 {
    text-align: center;
    color: white;
}

.button-container {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 10px;
  }

.title {
    margin: 20px;
    text-align: center;
}

.desc {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

@media only screen and (min-width: 900px) {
    .desc {
        margin-left: 200px;
        margin-right: 200px;
        text-align: center;
    }
}